/* .escudo {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 10px;
  margin-right: 10px;
} */
/* 
.time-foto {
  margin-top: 10px;
  margin-bottom: 20px;
} */

/* .escudo-foto {
  margin-top: 10px;
  margin-bottom: 20px;
} */

.container {
  background-color: #ffffff;
  padding-top: 3%;
  padding-left: 3%;
}

/* a {
  text-decoration: none;
  color: #a32424;
} */

.jogador {
  width: 100px;
  height: 100px;
}

/* h3 {
  font-size: 100px;
} */
/* 
.flex:hover {
  box-shadow: 0 0 2px 1px rgba(197, 197, 197, 0.5);
  color: #9b2424;
  border-radius: 15px;
} */

img {
  width: 200px;
}
